<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday!</title>
    <link rel="stylesheet" href="/view/style.css">
</head>
<body class="bg-4">
    <main class="container mb-lg mt-lg">
        <h1 class="text-lg mb-sm primary-5" data-anime="400">Aperte no Álbum</h1>
        <a href="/view/pageyear.html"><img data-anime="2000" src="/assets/img/pageFour.jpg" alt=""></a>
    </main>
</body>

<script type="module" src="/view/script.js"></script>


</html> 