<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday!</title>
    <link rel="stylesheet" href="/view/style.css">
</head>
<body class="bg-4">
    <main class="container mb-lg mt-lg">
        <h1 class="text-lg color-primary-4 mb-xs" data-anime="300">Você está aqui há</h1>
        <span id="numberAnim" class="text-xl color-primary-4" data-anime="400">19</span>
        <h2 class="text-md color-secundary-4 mb-lg" data-anime="500">Cada nota de <b>'Cloud'</b>, de <b>Ariana Grande</b>, carrega um pedaço da sua essência, <br>um ponto da sua personalidade que se formou e se transformou <br>desde o seu nascimento até este exato momento. Veja o quanto você é cada um, com base no que eu sinto de você.</h2>
        <a href="/view/pageperfum.html" class="btn btn-4" data-anime="4000">CONTINUAR</a>


    </main>


</body>


<script type="module" src="/view/script.js"></script>


</html> 
