<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday!</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="bg-5">
    <main class="container mb-lg mt-lg">
    <div class="text-lg mb-md">
        <p class="color-secundary-5" data-anime="400">
            <b class="color-primary-5">Almiscarado</b> Delicada mas marcante
        </p>
        <p class="color-secundary-5" data-anime="600">
            <b class="color-primary-5">Coco</b> Descontraída e leve
        </p>
        <p class="color-secundary-5" data-anime="800">
            <b class="color-primary-5">Baunilha</b> Doce e simpática
        </p>
        <p class="color-secundary-5" data-anime="900">
            <b class="color-primary-5">Lactônico</b> Traz Suavidade e conforto
        </p>
    </div>
        <img data-anime="1000" class="mb-md shadow-md bounce" src="../public/assets/svg/cloud.svg" alt="">
        <p class="text-lg color-secundary-5" data-anime="5000">E para cada momento que passaremos juntos, este perfume irá materializar o cheiro de cada experiência, funcionando como uma concretização de tudo o que vivemos. Obrigado por ser esta pessoal incrível e tão perfeita de se lidar e amar. <b class="color-primary-5 color-primary-5">FIM!</b></p>
    </main>
</body>


<script type="module" src="../script.js"></script>


</html> 