<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday!</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="bg-1">
    <main class="container mb-lg mt-lg">
        <img class="shadow-md mb-sm" data-anime="200" src="../public/assets/img/pageOne.gif" alt="Eternal Sunshine GIF">
        <h2 class="text-lg color-primary-1 mb-xs" data-anime="300">Hoje é seu dia!</h2>
        <h1 class="text-italic color-primary-1 mb-sm" data-anime="400">“You’re just my eternal sunshine.”</h1>
        <h3 class="text-md color-secundary-1 mb-lg" data-anime="500">Os astros se alinharam para que uma mulher inteligente, gentil e forte fosse ao mundo, em que nele pudesse mostrar do que a determinação é capaz. <br><br> <b>Feliz aniversário!</b> quero estar com você para sempre, te fazendo feliz e te mostrando o quão feliz posso te ajudar a ser, cada vez mais!</h3>
        <a href="./pagetwo.html" class="btn btn-1" data-anime="4000">CONTINUAR</a>
    
    </main>


</body>

<script src="../plugin/animation/simple-anime.js"></script>;
<script src="../script.js"></script>


</html> 