<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday!</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="bg-2">
    <main class="container mb-lg mt-lg">
        <video autoplay muted playsinline loop disablepictureinpicture class="shadow-md mb-sm video" data-anime="200" src="../public/assets/video/pageTwo.mp4"></video>
        <h1 class="text-lg color-primary-2 mb-xs" data-anime="300">Hoje é seu dia!</h2>
        <h2 class="text-italic color-primary-2 mb-sm" data-anime="400">“I’d rather be seen and alive than dying by your point of view.”</h1>
        <div class="text-md color-secundary-2 mb-lg" data-anime="500">
            <p class="mb-sm">Para todas as nossas dificuldades, sempre temos nossas perspectivas de como lidar, melhorar e seguir em frente.</p>
            <p>Com sua inteligência e emoção florescentes, conseguimos compreender com o coração e amar da mesma forma, tornando o relacionamento uma nova experiência, seja com carinho, amor ou calor interno: a junção explosiva dos dois.</p>
        </div>
        <a href="./pagethree.html" class="btn btn-2" data-anime="4000">CONTINUAR</a>
    </main>
</body>


<script type="module" src="../script.js"></script>


</html> 