<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday!</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="bg-3">
    <main class="container mb-lg mt-lg">
        <img class="shadow-md mb-sm" data-anime="200" src="../public/assets/img/pageThree.gif" alt="Eternal Sunshine GIF">
        <h2 class="text-lg color-primary-3 mb-xs" data-anime="300">Hoje é seu dia!</h2>
        <h1 class="text-italic color-primary-3 mb-sm" data-anime="400">“So, baby, let’s keep this secret, a little risky, boy, that’s how I want it”</h1>
        <h3 class="text-md color-secundary-3 mb-lg" data-anime="500">A mulher mais incrível, cuja beleza encanta todos ao redor, mas que guarda um lado único e misterioso. Essa combinação de charme, inteligência e mistério é o que a torna ainda mais especial. <br><br>Sempre perspicaz, com um olhar profundo e uma presença que seduz sem esforço, criando uma aura única que torna cada instante ao seu lado inesquecível.</h3>
        <a href="./pagefour.html" class="btn btn-3" data-anime="4000">CONTINUAR</a>
    
    </main>


</body>

<script src="../plugin/animation/simple-anime.js"></script>;
<script src="../script.js"></script>


</html> 